<div class = "col-md-2"></div>
<div class = "col-md-8">
<h1>Departments</h1>
<br/><br/>
<%= link_to new_department_path, :class => "btn btn-default btn-md" do %>
	<i class = "glyphicon glyphicon-plus pull-left"></i>&nbsp; New Department
	<%end%>
	<table class="tb">
		<thead>
			<tr>
				<th class="teeh">Name</th>
				<th class="teeh">edit</th>
				<th class="teeh">delete</th>
			</tr>
		</thead>
		<tbody>
			<% @departments.each do |department| %>
			<tr>
				<td class="teed"><%= department.name %></td>
				<td class="teed">
					<%= link_to edit_department_path(department.id), :class => "btn btn-default btn-md" do  %>
					<i class="glyphicon glyphicon-edit pull-left"></i>&nbsp;Edit Department
				<%end%>
				</td>
				<td class="teed">
					<%= link_to department_path(department.id),
				      method: :delete,
				      data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-md" do %>  
				      	<i class="glyphicon glyphicon-remove pull-left"></i>&nbsp;Delete
				    <%end%>
				</td>
			</tr>

			<% end %>
		</tbody>
	</table>
	
<br/><br/>
	
</div>
<div class = "col-md-2"></div>
