<div class="jumbotron purpletext">
	<h1><%= @department.name %></h1>
</div>

<div class="score-container">
	<div class="tab-content well">
		<div class="tablecontainer">
			<table class="table user_table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<% @scoresbyuser.each do |x| %>
						<tr>
							<td><%= link_to x.fname + " " + x.lname, user_path(x.id) %></td>
							<td><%= link_to x.email, user_path(x.id) %></td>
				      		<td><%= x.points %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
