<div class="fuck">
	<h2 id="change-pass">Change your password</h2>
	<div class ="form-group">
		<%= form_tag '/change' do %>
			</br>
			<p>Current Password</p>
			<%= text_field_tag :current, nil,:placeholder => 'Enter current password...' %>
			<br/>
			</br>
			<p>Desired Password</p>
			<%= text_field_tag :new, nil, :placeholder => 'Enter desired password...' %>
			<br/>
			<%= submit_tag "Submit", :class => "btn btn-primary btn-lg subsign new-pass" %>
		<% end %>
	</div>
</div>
