<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<div class="jumbotron purpletext">
	<h1>HIGH SCORES<span id="gold" class="glyphicon glyphicon-star-empty"></span></h1>
</div>

<div class="score-container">
	<!-- Nav pills -->
	<ul class="nav nav-pills">
	  <li class="active"><a href="#tab-1" data-toggle="tab">User Scores</a></li>
	  <li><a href="#tab-2" data-toggle="tab">Department Scores</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content well">
		<div class="tab-pane active" id="tab-1">
			<div class="tablecontainer">
			<table class="table user_table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Department</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |x| %>
						<tr>
							<td><%= link_to x.email, x %></td>
				      		<td><%= link_to x.department, x %></td>
				      		<td>0</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		</div>
		<div class="tab-pane" id="tab-2">
			<table class="table dep_table">
						<thead>
							<tr>
								<th>Department</th>
								<th>Points</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |x| %>
								<tr>
						      		<td><%= link_to x.department, x %></td>
						      		<td>0</td>
								</tr>
							<% end %>
						</tbody>
					</table>
		</div>
	</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.rawgit.com/tonystar/bootstrap-hover-tabs/v3.1.1/bootstrap-hover-tabs.js"></script>

