<div class="jumbotron purpletext">
<h1>
<%= @user.fname.capitalize %> <%= @user.lname.capitalize %>
</h1>

<p> department: <span> <%= @user.department %> </p>
<p> email: <span> <%= @user.email %> </p>
</div>
