<body>
<div class="jumbotron purpletext" style="padding-top:10%;height:100%">
	<div class="container">
		<div class="col-md-8">
  			<h1 >Wellness Tracker   <span id="gold" class="glyphicon glyphicon-apple"></span></h1> 
  			<p>Earn rewards from your employer by recording your healthy choices and activities every day!</p>
  		</div>
  		<div class="col-md-4">
  			<%= render 'welcome/login' %>
  		</div>	
	</div>
 
</div>

</body>
