<body>
<div class="jumbotron purpletext" style="padding-top:5%">
  <h1 >Wellness Tracker   <span id="gold" class="glyphicon glyphicon-apple"></span></h1> 
  <p>Earn rewards from your employer by recording your healthy choices and activities every day!</p> 
</div>


  <%= render 'login' %>

</div>
</body>
