<body>
<div class="jumbotron purpletext" style="padding-top:10%;height:100%">
	<div class="container">
		<div class="col-md-8">
  			<h1 >Wellness Tracker   <span id="gold" class="glyphicon glyphicon-apple"></span></h1> 
  			<p>encouraging your healthy choices and activities every day!</p>
  			<%= link_to "User guide", '/guide' , class: "bigger-mobile-text", method: :get %>
  		</div>
  		<div class="col-md-4">
  			<%= render 'welcome/login' %>
  		</div>	
	</div>
 
</div>


</body>
