<div class="fuck">
	<h3 class="recover-Title">Please enter you email address</h3>
	<div class ="form-group">
		<%= form_tag '/recover_password' do %>
			</br>
			<%= text_field_tag :email, nil, :class => "pass_recover", :placeholder => 'Enter User Email...' %>
			<br/>
			<%= submit_tag "Submit", :class => "btn btn-primary btn-lg subsign" %>
		<% end %>
	</div>
</div>
