<div class="jumbotron purpletext">
  <h1 >Scoreboard <span id="gold" class="glyphicon glyphicon-star-empty"></span></h1> 
  <p>See how you and your team stack up to the competition!</p> 

</div>

<div class="tablecontainer">
  <p> (put filter options up here later) </p>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>Automation</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Mary Moe</td>
        <td>Accounts Deliverable</td>
        <td>300</td>
      </tr>
      <tr>
        <td>July Dooley</td>
        <td>Management</td>
        <td>32</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="footer">
    <div>
      Built by OSU Software Capstone Class of 2016
    </div>
</div>