<h1>Wellness Automation Password reset</h1>

<p>To reset your password, click the link below:</p>
<a href=<%= @pwdlink %>>Reset Password </a>

<p>
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
</p>