<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http=equiv='Content-Type' />
</head>
<body>
<h1>Welcome</h1>
<p>track your wellness program activities with Life Care Wellness!</p>

<p>your username is : <%= @user.email %> </p>
<p>
your password is: <%= @user.password %>
</p>

<p>
Please click the link to confirm your account and start tracking your activities!
</p>
<a href=<%=@link %>> Confirm Your Account! </a>
</body>
</html>