<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http=equiv='Content-Type' />
</head>
<body>
<h1>Welcome</h1>
<p>track your wellness program activities with Life Care Wellness!</p>
<p>
your password is: <%= @pwd %>
</p>
<p>
To login, just here: <%= @url %>.
</p>
</body>
</html>