<div class="footer">
	<div>
      <p>1699 W Mound St. Columbus &#x2022; Ohio 43223 &#x2022; <i class="fa fa-phone"></i> 614-278-3130 &#x2022; Built By OSU Computer Science Students</p>
	</div>
</div>
