html, body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0 auto;
}

.hidden {
	display: none;
}

/* flex containers */
.f-column {
	display: flex;
	flex-direction: column;
}

.f-row {
    display: flex;
    flex-direction: row;
}

/* flex container properties */ 

.f-row.center-vert, .f-column.center-hor{
	align-items: center;
}

.f-column.center-vert, .f-row.center-hor{

	justify-content: center;
}

.f-justify-spread{
	justify-content: space-between;
}

.f-justify-space{
	justify-content: space-around;
}

/* flex container -> flex items */

.f-even > * {
	flex: 1;
}

/* flex items */

.f-expand {
    flex-grow: 1;
}

.f-contract {
	flex-grow: 0;
}
.aside {
	flex: 1 auto;
}

.main {
	flex: 3 auto;
}

/* end flex stuff */

.header, .footer {
	width: 100%;
	background-color: rgb(73, 47, 148);
	font-size: 120%;
}

.header {
	box-shadow:  0px 4px 0px #000000;
}

.header.fixed{
	position: fixed;
	top: 0px;
}

.header div {
	font: 36px Calibri, sans-serif;
	font-weight: 100;
	line-height: 1em;
	margin-eft: 20px;
}

.header-text {
	text-color: white;
	font-color: white;
	color: white;
}
.footer {
	background-color: rgb(73, 47, 148);
	width: 100%;
	position: fixed;
	bottom: 0px;
}

.footer div {
	font: 12px Calibri, sans-serif;
	line-height: 1em;
	margin-right: 5px;
	text-align: center;
	background-color: rgb(73, 47, 148);
}

.section {
	height: 400px;
}

.grey {
	background: #ececec;
}


.blue {
	background-color: #492f94;
}

.gradientheader {
    background: linear-gradient(#200c60, #836fbe);
}
.purpletext {
    height: 225px;
    color: #200c60;
}

#gold {
    color: #d7903f;
}
.golden {
    color: #d7903f;
}
.whitetext {
    color: white;
}

.jumbotron {
	width: 96% !important;
	margin: 0 auto;
    box-shadow: 0 5px 6px rgba(0,0,0,0.18), 0 4px 6px rgba(0,0,0,0.24);
}
.quick *, .jumbotron * {
    text-align: center;
    margin: 0 auto;
}
.blue {
    background-color: #200c60;
}
.footer {
    background-color: rgb(73, 47, 148); /*#351c7a; */
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.nav.navbar-nav.navbar-right li a {
    color: #efefef;
}
.navbar-header.page-scroll a {
    color: #efefef; /* #d7903f; */
}
.footer div {
    color: #FFFFFF;
    font: 12px Calibri, sans-serif;
    line-height: 1.5em;
    margin-right: 25px;
    text-align: center;
}
.nav.navbar-nav.navbar-right li a:hover {
  color: grey;
}

.nav_options{
	font-size:20px;
}

.small_logo{
	width:150px;
	height:50px;
}

.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
text-align: center;
}

.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}

.alert-warning {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
}

.generatecontent {
	margin-top: 80px;
	margin-bottom: 120px;
	max-height: 100%;
}

.tb {
      border-collapse: collapse;
}
.teeh, .teed {
      padding: 5px 10px;
      }
.teeh {
      background-color: #eee;
    }

.bigger-mobile-text {
	font-size: 200%;
	font-weight: 695;
}
text {
	font-family: Verdana; 
	font-color: black;

}

span {
	font-weight: 685;
	font-size: 129%;
}

#name {
	text-color: #88cc88;
	color: #7777bb;
	text-decoration: underline;
}

.sidepanel {
	padding: 8px;
	background-color: #efefef;
	border-style: solid;
	border-width: 2px;
	border-bottom-width: 8px;
	border-color: #ccccef;
	border-radius: 8px;
	margin-left: 10px;
}

.padleft {
	align: center;
}

.notsowide {
	max-width: 100px !important;
}

.alignleft {
	text-align: left !important;
}

.alignright {
	text-align: right !important;
}

.flexible {
	display: flex;
	vertical-align: center;
	text-align: center;
}

.special {
	flex: 1;
	font-size: 140%;
	background-color: #6767bb;
	color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #ccccef;
	border-radius: 10px;
	padding: 40px;
}


@media all and (max-width: 980px){
	
	p,span,a,td,th {
	 font-size: 150% !important;
 	}

 	.special {
 	padding: 2px;
 	width: 100px;
 	max-height: 50px;
 	}

}img{
    width:100%;
    max-width:700px;
}

