body {
    padding-top: 50px;
    padding-bottom: 25px;
    color: #200c60;
}
.gradientheader {
    background: linear-gradient(#200c60, #836fbe);
}
.purpletext {
    height: 225px;
    color: #200c60;
}

#gold {
    color: #d7903f;
}
.whitetext {
    color: white;
}
.fuck *, .jumbotron * {
    text-align: center;
    margin: 0 auto;
}
.blue {
    background-color: #200c60;
}
.footer {
    background-color: #836fbe; /*#351c7a; */
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.nav.navbar-nav.navbar-right li a {
    color: #efefef;
    float:right;
}
.navbar-header.page-scroll a {
    color: #efefef; /* #d7903f; */
}
.footer div {
    color: #FFFFFF;
    font: 12px Calibri, sans-serif;
    line-height: 1.5em;
    margin-right: 25px;
    text-align: center;
}
.nav.navbar-nav.navbar-right li a:hover {
  color: grey;
}

button, html input[type=button], input[type=reset]{
    margin-top:20px;
    margin-right:10px;
}

#email, #password{
    width:100%;
    -moz-border-radius:15px;
    border-radius: 15px;
    border:solid 1px black;
    padding:5px;
    margin-bottom:5%;

}

.subsign{
    margin-right:2.5%!important;
    margin-left:2.5%!important;
    padding-right: 10%!important;
    padding-left: 10%!important;
}

.btn-primary{
    background:linear-gradient(#200c60, #836fbe)!important;
    border-color:#200c60!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #836fbe;
    border-color: #285e8e; /*set the color you want here*/
}



#table_heading{
    font-size:24px;
    font-weight:bold;
}

.table thead th{
    text-align:center;
}

.hideshow{
    padding-top:1%;
}

.yield{
    height:130%;
}